<h1>Bonjour Veuillez Vérifier Votre email!</h1>

<p>
    Vérifiez Votre Email en cliquant sur le lien ci-dessous <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez votre Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
   Merci de votre confiance
</p>
